<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Secken.ServerSdk.DemoSix</title>

    <script src="/static/js/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/js/login.js"></script>
</head>
<body style="background-color: #007ACC;">
    <img src="" id="qr_img" style="width:400px;height:400px;position: absolute;top:50%; left: 50%; margin-top: -200px; margin-left: -200px;">
</body>
</html>